/* Global Variables */
:root {
  --main-color: #4db0ff;
  --main-color-alt: #3585c7;
  --main-transition: 0.5s;
}
/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  main {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  main {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  main {
    width: 1170px;
  }
}
/* Website Header */
header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  header main {
    display: block;
  }
}
header main > a {
  color: var(--main-color);
  font-size: 27px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header main > a {
    width: 100%;
    height: 50px;
    margin: auto;
  }
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  nav > ul {
    margin: auto;
  }
}
nav li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  nav li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
nav li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
nav li > a:hover {
  color: var(--main-color);
  background-color: #dddddd;
}
nav li > a:hover::before {
  left: 0;
}
/* Landing */
#landing {
  position: relative;
}
#landing::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
#landing main {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
#landing #image img {
  width: 600px;
  max-width: 100%;
}
#landing a {
  display: unset;
}
#landing a > i {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}