/* Global Variables */
:root {
  --main-color: #4db0ff;
  --main-color-alt: #3585c7;
  --section-background: #ececec;
  --section-alt-background: #fbfbfb;
  --main-transition: 0.5s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --transition-delay: 1s;
  --animation-time: 0.6s;
  --animation-alt-time: 5s;
  --icon-hight: 10%;
}
/* Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--section-alt-background);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small Screen */
@media (min-width: 768px) {
  main {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  main {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  main {
    width: 1170px;
  }
}
#mainTitle {
  z-index: 1;
  font-size: 30px;
  cursor: default;
  user-select: none;
  position: relative;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto 80px;
  border: 2px solid black;
  transition: var(--main-transition);
}
#mainTitle:hover {
  color: white;
  border: 2px solid white;
  transition-delay: var(--transition-delay);
}
#mainTitle::before,
#mainTitle::after {
  top: 50%;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--main-color);
}
#mainTitle::before {
  left: -30px;
}
#mainTitle::after {
  right: -30px;
}
#mainTitle:hover::before {
  z-index: -1;
  animation: leftToRight var(--animation-time) linear forwards;
}
#mainTitle:hover::after {
  z-index: -1;
  animation: rightToLift var(--animation-time) linear forwards;
}
/* Website Header */
header {
  cursor: default;
  user-select: none;
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
}
header main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header main {
    display: block;
  }
}
header main > a {
  height: 72px;
  display: flex;
  font-size: 27px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header main > a {
    width: 100%;
    height: 50px;
    margin: auto;
  }
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  nav > ul {
    margin: auto;
  }
}
nav ul > li:hover #mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 3px);
}
nav > ul > li > a {
  height: 72px;
  display: flex;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  user-select: none;
  position: relative;
  align-items: center;
  justify-content: space-between;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  nav > ul > li > a {
    height: 40px;
    padding: 10px;
    font-size: 14px;
  }
}
nav > ul > li > a::before {
  top: 0;
  content: "";
  width: 100%;
  height: 4px;
  left: -100%;
  position: absolute;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
nav > ul > li > a:hover {
  color: var(--main-color);
  background-color: #dddddd;
}
nav > ul > li > a:hover::before {
  left: 0;
}
main #mega-menu {
  left: 0;
  gap: 40px;
  opacity: 0;
  width: 100%;
  z-index: -1;
  padding: 30px;
  display: flex;
  position: absolute;
  top: calc(100% + 50px);
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  main #mega-menu {
    gap: 0;
    padding: 5px;
    flex-direction: column;
  }
}
#mega-menu section img {
  max-width: 100%;
}
@media (max-width: 991px) {
  #mega-menu section img {
    display: none;
  }
}
#mega-menu ul {
  flex: 1;
  min-width: 250px;
}
#mega-menu li {
  position: relative;
}
#mega-menu li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  #mega-menu ul:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
#mega-menu li::before {
  top: 0;
  left: 0;
  width: 0;
  content: "";
  z-index: -1;
  height: 100%;
  position: absolute;
  background-color: #fafafa;
  transition: var(--main-transition);
}
#mega-menu li:hover::before {
  width: 100%;
}
#mega-menu li a {
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}
#mega-menu li a i {
  margin-right: 10px;
}
/* Landing section */
#landing {
  position: relative;
}
#landing::before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  transform: skewY(-6deg);
  transform-origin: top left;
  background-color: #ececec;
}
#landing main {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-bottom: 120px;
  min-height: calc(100vh - 72px);
}
#landing main #text {
  flex: 1;
}
@media (max-width: 991px) {
  #landing main #text {
    text-align: center;
  }
}
#landing #text h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  #landing #text h1 {
    font-size: 28px;
  }
}
#landing #text p {
  color: #666;
  font-size: 25px;
  margin: 5px 0 0;
  line-height: 1.7;
  max-width: 500px;
}
@media (max-width: 767px) {
  #landing #text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  #landing #text p {
    margin: 10px auto;
  }
}
#landing main #image {
  width: 450px;
  padding: 10px;
}
@media (max-width: 991px) {
  #landing main #image {
    display: none;
  }
}
#landing #image img {
  width: 400px;
  position: relative;
  animation: showfast 1.5s ease;
}
#landing a {
  left: 50%;
  bottom: 30px;
  position: absolute;
  color: var(--main-color);
  transform: translateX(-50%);
  transition: var(--main-transition);
}
#landing a > i {
  animation: bouncing 1.5s infinite;
}
/* Project section */
#projects {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
#projects main {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
#projects #box {
  overflow: hidden;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 15px #00000025;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
#projects #box:hover {
  transform: translateY(-30px);
  box-shadow: 0 2px 15px #00000035;
}
#projects #box img {
  width: 100%;
  height: 200px;
  max-width: 100%;
}
#projects #box #content {
  padding: 20px;
}
#projects #box #content h3 {
  margin: 0;
}
#projects #box #content p {
  height: 97px;
  padding: 1px;
  color: #777;
  margin: 7px 0 0;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
#projects #box #info {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e6e6e7;
}
#projects #box #info a {
  font-weight: bold;
  color: var(--main-color);
}
#projects #box #info i {
  color: var(--main-color);
}
#projects #box:hover #info i {
  animation: arrowMove calc(var(--animation-time) + 0.8s) linear infinite;
}
/* Follow Me section */
#Certificates {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
#Certificates main {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}
/* #Certificates main:hover {
  grid-template-columns: repeat(auto-fill, minmax(555px, 1fr));
} */
#Certificates #box {
  padding: 10px;
  background-color: white;
  box-shadow: 0 12px 20px #00000025, 0 2px 4px #00000020;
}
#Certificates #box #image {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#Certificates #box #image::before {
  top: 50%;
  width: 0;
  height: 0;
  left: 50%;
  opacity: 0;
  z-index: 2;
  content: "";
  position: absolute;
  background-color: #ffffff30;
  transform: translate(-50%, -50%);
}
#Certificates #box #image:hover::before {
  animation: flashing var(--animation-time);
}
#Certificates #box #image img {
  width: 100%;
  max-width: 100%;
  min-width: 530px;
  user-select: none;
  transition: var(--main-transition);
}
#Certificates #box #image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* Animation */
@keyframes leftToRight {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes rightToLift {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes showfast {
  0% {
    top: 0;
    width: 0px;
    height: 0px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: 0;
    width: 400px;
    height: 400px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}
@keyframes arrowMove {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-5px);
  }
  40%,
  60% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
  100% {
    width: 0;
    height: 0;
  }
}