/* Global Variables */
:root {
  --main-transition: 0.5s;
  --alt-transition: 0.2s;
  --main-border: 2px solid black;
  --main-input-border: 0.5mm solid gray;
  --alt-input-border: 3px solid blue;
  --main-border-radius: 35px;
  --alt-border-radius: 5px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff5722;
  font-size: 1.7em;
}
.fa-arrow-circle-right {
  color: black;
  position: fixed;
  top: 3%;
  right: 3%;
}
/* Password section */
section.Password {
  width: 55%;
  margin: 20px auto;
  position: relative;
}
section.Password .Serial {
  width: 80%;
  padding: 20px;
  background-color: #eee;
  margin: 40px auto;
  border-radius: var(--main-border-radius);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
}
section.Password .Copy {
  display: none;
  width: 30%;
  height: 20%;
  padding: 5px;
  text-align: center;
  font-size: 0.7em;
  background-color: #d8daff;
  border: 0.1px solid black;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 85%;
  left: 35%;
  transition: var(--main-transition);
}
/* Counts section */
section.Counts {
  min-width: 30%;
  max-width: calc(45% + 20px);
  margin: 10px auto;
  padding: 10px;
  background-color: thistle;
  border-radius: var(--main-border-radius);
}
section.Counts div {
  display: inline-block;
  width: 15%;
  margin: 1.7%;
  padding: 0.1%;
}
section.Counts input {
  -webkit-appearance: none;
  appearance: none;
}
section.Counts label {
  padding: 10px 7px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
section.Counts input:checked + label::after,
section.Counts input:not(:checked):hover + label::after {
  content: "";
  width: 35px;
  height: 35px;
  border: var(--alt-input-border);
  position: absolute;
  top: 9%;
  left: 6%;
  border-radius: var(--alt-border-radius);
  transition: var(--main-transition);
}
section.Counts input:not(:checked):hover + label::after {
  opacity: 0.3;
}
section.Generater {
  width: 45%;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: var(--main-border-radius);
}
section.Generater div {
  min-width: 30%;
  max-width: 45%;
  margin: -5px auto;
  margin-left: 35%;
  transition: var(--main-transition);
}
section.Generater input {
  -webkit-appearance: none;
  appearance: none;
}
section.Generater label {
  display: inline-block;
  height: 32px;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.Generater label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: var(--main-input-border);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: var(--alt-border-radius);
}
.Generater input:checked + label::after,
.Generater input:not(:checked):hover + label::after {
  content: "";
  background-color: blue;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -10px;
  top: 20px;
  border-radius: calc(var(--alt-border-radius) - 2px);
  transition: var(--main-transition);
}
.Generater input:not(:checked):hover + label::after {
  opacity: 0.2;
}
.Generater input:checked + label {
  color: blue;
}
.Generate {
  display: inline-block;
  width: max-content;
  margin: 15px 35%;
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: var(--alt-border-radius);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: var(--alt-transition);
}
.Generate:hover {
  background-color: #f0440e;
}