.Serial {
  width: 300px;
  padding: 20px;
  background-color: #eee;
  margin: 40px auto 0;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
}
.counts {
  min-width: 300px;
  margin: 30px 0 30px 27%;
}
.Count {
  text-align: center;
  font: 2em sans-serif;
  background-color: #fff;
  margin: 0 3%;
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
  user-select: none;
}
.Generate {
  display: inline-block;
  width: max-content;
  margin: 20px auto;
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.Generate:hover {
  background-color: #f0440e;
}
.Generater {
  width: max-content;
  margin: 30px auto;
}
.Generater label {
  font-size: 1.3em;
}
.Generater input {
  size: 1.3em;
}