.Serial {
  width: 300px;
  padding: 20px;
  background-color: #eee;
  margin: 40px auto 0;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
}
.counts {
  min-width: 300px;
  margin: 30px 0 30px 27%;
  padding: 10px;
  background-color: thistle;
}
.Count {
  text-align: center;
  font: 2em sans-serif;
  background-color: #fff;
  margin: 0 3%;
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
  user-select: none;
}
.Generate {
  display: inline-block;
  width: max-content;
  margin: 20px auto;
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.Generate:hover {
  background-color: #f0440e;
}
.Generater {
  width: 200px;
  margin: 30px auto;
  padding: 5px;
  background-color: #f9f9f9;
  position: relative;
}
.Generater br {
  margin: 30px auto;
}
.Generater input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.Generater label {
  padding: 25px;
  position: relative;
}
.Generater label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 0.1mm solid gray;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
}
.Generater input[type="checkbox"]:checked + label::after,
.Generater input[type="checkbox"]:not(:checked):hover + label::after {
  content: "";
  background-color: blue;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 4px;
  top: 4px;
}
.Generater input[type="checkbox"]:not(:checked):hover + label::after {
  opacity: 0.2;
}
.Generater input[type="checkbox"]:checked + label {
  color: blue;
}