body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff5722;
  font-size: 1.5em;
}
.Serial {
  width: 50%;
  padding: 20px;
  background-color: #eee;
  margin: 40px auto;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
}
.counts {
  min-width: 20%;
  max-width: 40%;
  margin: 30px auto;
  padding: 25px;
  background-color: thistle;
}
.Count {
  text-align: center;
  font: 2em sans-serif;
  background-color: #fff;
  margin: 0 3%;
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
  user-select: none;
}
.Generate {
  display: inline-block;
  width: max-content;
  margin: 15px 25%;
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.Generate:hover {
  background-color: #f0440e;
}
.Generater {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
}
.Generater div {
  min-width: 40%;
  max-width: 70%;
  margin: 10px auto;
  position: relative;
}
.Generater input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.Generater label {
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}
.Generater label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 0.5mm solid gray;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
}
.Generater input[type="checkbox"]:checked + label::after,
.Generater input[type="checkbox"]:not(:checked):hover + label::after {
  content: "";
  transition: 0.4s;
  background-color: blue;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 5px;
  top: 8px;
}
.Generater input[type="checkbox"]:not(:checked):hover + label::after {
  opacity: 0.2;
}
.Generater input[type="checkbox"]:checked + label {
  color: blue;
}